
body {
    margin: 0;
    background-color: #05161a;
}

p {
    font-family: "Bahnschrift", monospace;
    color: #f5f5f5;
    text-align: center;
    font-size: 20px;
    
}

#main-nav {
    background-color: #09292f;
    margin: 0;
    padding: 0;
    text-align: center;
    position: fixed;
    width: 100%;    
    color:#f5f5f5;
}

#main-nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}

#main-nav li {
    display: inline-block;
}

#main-nav a:hover {
    background-color: rgba(0,0,0,0.1);
    transform: scale(1.05)
}

#logo {

    width: 600px;
    margin-top: 240px;
}

#header {
    background-image: url(../images/baguettesnuke.png);
    height:370px;
    padding-top: 100px;
    text-align: center;
    margin: auto;
    background-size: cover;
    background-position: center;
    font-family: "Bahnschrift", monospace;
    color:#f5f5f5;
}

#pcset {
    background-image:url(../images/pcsetup.png);
    height: 450px;
    text-align: center;
    background-size: cover;
    background-position: center;
    font-family: "Bahnschrift", monospace;
}


h2 {
    font-size: 36px;
    text-align: center;
    margin: auto;
    font-family: "Calibri", monospace;
    color:#ffffff;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}

h1 {
    font-family: "Bahnschrift", monospace;
    text-align: center;
    color:#f5f5f5;
    font-size:59px;
    margin:auto;
    
}

h3 {
    font-family: "Bahnschrift", monospace;
    text-align: center;
    color:#f5f5f5;
    font-size:25px;
    margin:auto;
    
}

ul {
    font-size: 26px;
    text-align: center;
    font-family: "Bahnschrift", monospace;
    color:#f5f5f5;
}

.subtitle {
    font-size: 20px;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-family: "Bahnschrift", monospace;
}

table, th, td {
    border: 2px solid #fff;
  }

table {
  border-collapse: collapse;
}
th {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}
td{
    background-color: rgba(0,0,0,0.1);
    color:#f5f5f5;
}

#moving {
    transition: 0.5s;
    position: fixed;
    bottom:1px;
}

#moving:hover {
    transform: scale(1.2, 0)
}


#moving:hover {
    transform: scale(1.2, 0)
}

.contact_logo {
    height: auto;
    width: 160px;

}

.contacts {
    text-align: center;
}

.contact-list {
    text-align: center;
}

.contact {
    width: min-content;
    height: 100px;
    margin: 20px;
    display: inline-block;
    flex-direction: column;
}

.logo {
    width: 124px;
    height: auto;
    transition: transform .7s ease-in-out;
}
.contact:hover .logo {
    transform: scale(1.1);
}

.heading:hover {
    transform: scale(1.1);
}


.maintitle {
    overflow-x: hidden;
    font-family: Bahnschrift;
    font-size: 90px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(92deg, #2a8aaa 0%, #97c01b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #05161a 1px 30px 1;
}

.littletitle {
    overflow-x:hidden;
    font-family: Bahnschrift;
    font-size: 30px;
    font-weight: bold;
    background-image: -webkit-linear-gradient(92deg, #2a8aaa 0%, #97c01b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleleft {
    overflow-x: hidden;
    font-family: Bahnschrift;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(92deg, #2a8aaa 0%, #97c01b 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
    position: fixed;
    top:8px;
    left:15px;
    
}

a:visited { 
    text-decoration:none;
    color:darkgrey;
    opacity:0;
   }

h5 {
    font-size:20px;
}

#difheader {
    background-image: url(../images/frzbxbackgrou.png);
    background-color: #09292f76;
    height:470px;
    padding-top: 100px;
    text-align: center;
    margin: auto;
    font-family: "Bahnschrift", monospace;
    color:#f5f5f5;
    background-size: 40px 40px;    
    background-size: 40px 40px;    
    background-image: repeating-linear-gradient(deg, #fff, #fff 1px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg, #fff, #fff 1px, transparent 1px, transparent 40px)
}

:root {
/*  change this for scaling  */
  --m: 4rem;
  
  --red: #FF6565;
  --pink: #FF64F9;
  --purple: #6B5FFF;
  --blue: #4D8AFF;
  --green: #5BFF89;
  --yellow: #FFEE55;
  --orange: #FF6D1B;
  
}

button {
  border: calc(0.08 * var(--m)) solid transparent;
  position: relative;
  color: #F3F3F3;
  font-size: 30px;
  border-radius: calc(0.7 * var(--m));
  padding: 30px;
  display: flex;
  font-family: Bahnschrift;
  text-align: center;
  margin:auto;
  justify-content: center;
  cursor: pointer;
  
  background:linear-gradient(#121213, #121213), linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),  linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;
}

button::before {
  content: '';
  background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  height: 30%;
  width: 60%;
  position: absolute;
  bottom: -20%;
  z-index: -5;
  background-size: 200%;
  animation: animate 2s infinite linear;
  filter: blur(calc(0.8 * var(--m)));
}

button:hover, button:hover::before {
  animation: animate 0.5s infinite linear;
}

@keyframes animate {
  0% {background-position: 0}
  100% {background-position: 200%}
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 2rem;
  }
}