
body {
    margin: 0;
    background-color: #080f10;
}

p {
    font-family: "Bahnschrift", monospace;
    color: #f5f5f5;
    text-align: center;
    font-size: 20px;
    
}

h5 {
    background-color: #f8ce4b;
    animation: bgColor 5s infinite linear;
    margin:0;
    padding:0.5em;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Bahnschrift", monospace;

}

@keyframes bgColor {
    0% {
      background-color: #e63333;
    }
    25% {
      background-color: #e97e27;
    }
    50% {
      background-color: #d8d811;
    }
    75% {
      background-color: #e97e27;
    }
    100% {
      background-color: #e63333;
    }
  }

#main-nav {
    background-color: #4b3568;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
    color:#f5f5f5;

}

html {
    scroll-behavior: smooth;
}

#main-nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    display: block;
    transition: transform .3s ease-in-out;
}

.down {
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-family: "Bahnschrift", monospace;
    display: inline;
    width: 100px;
    margin-top:50px;
    position: sticky;
}

h4{
    font-size: 26px;
    text-align: left;
    margin: auto;
    font-family: "Helvetica", monospace;
    color:#ffffff;
    
}

#main-nav li {
    display: inline-block;
    
}

#main-nav a:hover {
    background-color: rgba(0,0,0,0.1);
    transform: scale(1.1)
}


#logo {

    width: 600px;
    margin-top: 240px;
}

#header { /* banner */
    background-image: url(/images/slca.gif);
    width:100%;
    text-align: center;
    margin: auto;
    background-size: 120em 70em;
    background-position: center;
    background-repeat: no-repeat; 
    padding-bottom:30em;
}


h2 {
    padding-top:1em;
    font-size: 66px;
    text-align: center;
    margin: auto;
    font-family: "Calibri", monospace;
    color:#ffffff;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}

h1 {
    font-family: "Bahnschrift", monospace;
    text-align: center;
    color:#f5f5f5;
    font-size:59px;
    margin:auto;
    
}

h3 {
    font-family: "Bahnschrift", monospace;
    text-align: center;
    color:#f5f5f5;
    font-size:25px;
    margin:auto;
    
}

ul {
    font-size: 26px;
    text-align: center;
    font-family: "Bahnschrift", monospace;
    color:#f5f5f5;
}

li {
    font-size: 36px;
    text-align: center;
    font-family: "Bahnschrift", monospace;
    color:#f5f5f5;
}
.subtitle {
    font-size: 20px;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-family: "Bahnschrift", monospace;
}

table, th, td {
    border: 2px solid #fff;
  }

table {
  border-collapse: collapse;
}

th {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}
td{
    background-color: rgba(0,0,0,0.1);
    color:#f5f5f5;
}




.contacts {
    text-align: center;
}

.contact-list {
    text-align: center;
}

.contact {
    width: min-content;
    height: 100px;
    margin: 20px;
    display: inline-block;
    flex-direction: column;
}

.logo {
    width: 124px;
    height: auto;
    transition: transform .5s ease-in-out;
    margin-top:60px;
    margin-bottom:60px;
}
.logo:hover {
    transform: scale(1.5);
}

.heading:hover {
    transform: scale(1.1);
}


.maintitle {
    overflow-x: hidden;
    font-family: Bahnschrift;
    font-size: 90px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(#06d1ca 0%, #8ad558 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #05161a 1px 30px 1;
}



.titleleft {
    overflow-x: hidden;
    font-family: Bahnschrift;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(92deg, #06d1ca 0%, #8ad558 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
    position: fixed;
    top:8px;
    left:15px;
    
}

a:visited { 
    text-decoration:none;
    color:darkgrey;
    opacity:0;
   }


.parallax {
    /* The image used */
    background-image: url("/images/slca2.gif");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

ol {
    padding-left: 15%;
    padding-right:5%;
    text-align:left;

}