body {
    margin: 0;
    background-color: #080f10;
}

p {
    font-family: "Bahnschrift", monospace;
    color: #f5f5f5;
    text-align: center;
    font-size: 20px;
    
}

h5 {
    background-color: #f8ce4b;
    animation: bgColor 5s infinite linear;
    margin:0;
    padding:0.5em;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Bahnschrift", monospace;
}


.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    height: 100%;
    width: 100%;
    max-width: 250px;
    position: fixed;
    top: 0;
    right: -450px;
    display: block;
    flex-direction: column;
    align-items: right;    
    justify-content: center;
    text-align: left;
    font-size: 3rem;
    transition: .2s ease;
}
.off-screen-menu.active {
    right: 0;
}

/* nav */
nav {
    padding: 1rem;
    display: flex;
    background-color: rgb(34, 37, 49);
}

/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes bgColor {
    0% {
      background-color: #54e633;
    }
    25% {
      background-color: #27e971;
    }
    50% {
      background-color: #bebe08;
    }
    75% {
      background-color: #27e971;
    }
    100% {
      background-color: #54e633;
    }
  }

  @keyframes bannerColor {
    0% {
      background-color: #020024;
      
    }
    25% {
      background-color: #2dde9121;
    }
    50% {
      background-color: #54e63322;
    }
    75% {
      background-color: #2dde913e;
    }
    100% {
      background-color: #020024;
    }
  }
#main-nav {
    background-color: #4b3568;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
    color:#f5f5f5;

}

html {
    scroll-behavior: smooth;
}

#main-nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    display: block;
    transition: transform .3s ease-in-out;
}

.down {
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-family: "Bahnschrift", monospace;
    display: inline;
    width: 100px;
    margin-top:50px;
    position: sticky;
}

h4{
    font-size: 26px;
    text-align: left;
    margin: auto;
    font-family: "Helvetica", monospace;
    color:#ffffff;
    
}

#main-nav li {
    display: inline-block;
    
}

#main-nav a:hover {
    background-color: rgba(0,0,0,0.1);
    transform: scale(1.1)
}


#logo {

    width: 600px;
    margin-top: 240px;
}

a { color: inherit; } 

#header { /* banner */
    background-color: #000000;
    width:100%;
    text-align: center;
    margin: auto;
    background-size: 120em 70em;
    background-position: center;
    background-repeat: no-repeat; 
    padding-bottom:30em;
}


h2 {
    padding-top:1em;
    font-size: 66px;
    text-align: center;
    margin: auto;
    font-family: "Calibri", monospace;
    color:#ffffff;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}

h1 {
    font-family: "Bahnschrift", monospace;
    text-align: center;
    color:#f5f5f5;
    font-size:59px;
    margin:auto;
    
}


h3 {
    font-family: "Bahnschrift", monospace;
    text-align: center;
    color:#f5f5f5;
    font-size:25px;
    margin:auto;
    animation: bannerColor 5s infinite linear;

}

ul {
    font-size: 26px;
    text-align: center;
    font-family: "Bahnschrift", monospace;
    color:#f5f5f5;
}

li {
    font-size: 26px;
    text-align: center;
    font-family: "Bahnschrift", monospace;
    color:#f5f5f5;
}


ol {
    font-size: 2px;
    align-items: end;
    font-family: "Bahnschrift", monospace;
    color:#f5f5f5;
    padding-left: 15%;
    padding-right:5%;
    text-align:left;
}

th {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}
td{
    background-color: rgba(0,0,0,0.1);
    color:#f5f5f5;
}

.contacts {
    text-align: center;
}

.contact {
    width: min-content;
    height: 100px;
    margin: 20px;
    display: inline-block;
    flex-direction: column;
}

.logo {
    width: 124px;
    height: auto;
    transition: transform .5s ease-in-out;
    margin-top:60px;
    margin-bottom:60px;
}

.logo2 {
    width: auto;
    height: 50px;
    transition: transform .5s ease-in-out;
    display:inline;
}
.logo:hover {
    transform: scale(1.5);
}
.logo2:hover {
    transform: scale(1.2);
}

.heading:hover {
    transform: scale(1.1);
}


.maintitle {
    overflow-x: hidden;
    font-family: Bahnschrift;
    font-size: 90px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(#06d1ca 0%, #8ad558 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #05161a 1px 30px 1;
}

a:visited { 
    text-decoration:none;
    color:darkgrey;
    opacity:0;
}
